# ---- CMake generated ----
CMakeCache.txt

# ---- Qt / QtCreator ----
.qtcreator
*.pro.user*
*.qbs.user*
CMakeLists.txt.user*

# ---- build dirs ----
build/
cmake-build-*/
out/

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Drawio ----
*.bkp
*.dtmp

# ---- Vim ----
.*.swp

# ---- Configurations ----
**/CMakeUserPresets.json

# ---- MetaData ----
**/MetaData/