.md-typeset table {
  font-size: 0.85rem;
}

.md-typeset th {
  font-weight: 700;
}

.md-typeset h1 {
  font-weight: 700;
}

.md-typeset h2 {
  margin-top: 2rem;
}

.md-typeset hr {
  margin: 1.5rem 0;
}